@model IEnumerable<CastagramV1.Models.Post>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager;

@{
    ViewData["Title"] = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Let's see what is new today!</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" class="btn btn-outline-success"><i class="bi bi-patch-plus-fill"></i></a>
    </p>
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="@item.ImagePath" class="card-img-top" />
                <div class="card-body">
                    <a href="/Post/OtherPosts?userid=@item.AuthorId" class="card-title">@await UserManager.FindByIdAsync(item.AuthorId)</a>
                    <p class="card-subtitle">@Html.Raw(item.dateTime)</p>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-action="AddLike" asp-route-id="@item.Id" class="btn btn-outline-dark">
                                    <i class="bi bi-heart"></i></a>
                                <a href="/Like/Index?id=@item.Id" class="link-dark">@item.Likes.Count</a>
                                
                            }
                        </li>
                        <li class="list-group-item">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="bi bi-info-circle-fill"></i></a>
                            @if (UserManager.GetUserId(User) == item.Author.Id)
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
       </div>
    }

</div>

