@model IEnumerable<CastagramV1.Models.Post>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager;

@{
    ViewData["Title"] = "OtherPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OtherPosts</h1>

<div>
    @foreach (var item in Model)
    {
        <div>
            <div>
                <P>@await UserManager.FindByIdAsync(item.AuthorId)</P>
                @Html.DisplayFor(modelItem => item.dateTime)
            </div>
            <div>
                <img src="@item.ImagePath" width="100" height="100" />
            </div>
            <div>
                <p>
                    @Html.DisplayFor(modelItem => item.Description);
                </p>
                <div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="AddLike" asp-route-id="@item.Id">Like</a>
                        @if (item.Likes == null)
                        {
                            <p>0</p>
                        }
                        else
                        {
                            <a href="/Like/Index?id=@item.Id">@item.Likes.Count</a>
                        }
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
                <div>
                    @if (UserManager.GetUserId(User) == item.Author.Id)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="@item.ImagePath" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateTime)
            </td>
        </tr>
}
    </tbody>
</table>*@
